:root {
  --ease-primary: cubic-bezier(0.475, 0.425, 0, 0.995);
  --ease-work-item: cubic-bezier(0.455, 0.03, 0.515, 0.955);
  --ease-apple-image: cubic-bezier(0.19, 1, 0.22, 1);
  --ease-slide: cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
